<?php

$finder = PhpCsFixer\Finder::create()
    ->in([
        __DIR__ . '/src',
        __DIR__ . '/tests',
    ])
;

require_once 'CsFixerConfig.php';

return CsFixerConfig::create()->setFinder($finder);
