includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/timeweb/phpstan-enum/extension.neon

parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
#    symfony:
#        container_xml_path: var/cache/test/srcApp_KernelTestDebugContainer.xml

    ignoreErrors:
        - '#Cannot call method fetchAllAssociative\(\) on Doctrine\\DBAL\\ForwardCompatibility\\DriverStatement\|int#'
        - '#Call to an undefined method ReflectionType::getName\(\)#'
        - '#Cannot call method getId\(\) on class-string\|Stringable\|.*UserInterface#'
        - '#Call to an undefined method object::getProjectDir\(\)#'
        - '#Binary operation "\+" between array<class-string, class-string>\&nonEmpty and array<string, class-string>\|false results in an error#'
